<div class="global_block">

<app-start *ngIf="show; else elseBlock " (Change)="handleChange($event)"></app-start>

  <ng-template #elseBlock>
      <div class="top">

        <img class="logo" src="../assets/img/logotop.png">
        <div class="left">
          <p>{{oppPoints}} <span>{{countVrag}}</span></p>
        </div>
        <div class="right">
          <p>{{myName}}: <span>{{countPlayer}}</span></p>
        </div>

      </div>

      <div class="players">
        <div class="computer">
          <div [ngClass]="player"></div>
        </div>
        <div class="player">
          <div [ngClass]="default"></div>
        </div>
      </div>

      <div class="menu">
        <div (click)="hodPaper(1)" class="paper-variant"  ></div>
        <div (click)="hodRock(0)" class="rock-variant"></div>
        <div (click)="hodScissors(2)" class="scissors-variant"></div>
      </div>
  </ng-template>
</div>

