<div class="global_block">
<div class="top">
  <img class="logo" src="../assets/img/logotop.png">

  <div class="left">
    <p>Очки противника: <span>0</span></p>
  </div>
  <div class="right">
    <p>Ваши очки: <span>0</span></p>
  </div>
</div>
  <div class="players">
    <div class="computer">
      <div class="default shake"></div>
    </div>
    <div class="player">
      <div class="default shake"></div>
    </div>
  </div>

  <div class="menu">
    <div class="paper-variant" ></div>
    <div class="rock-variant"></div>
    <div class="scissors-variant"></div>
  </div>

</div>

